#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  font-size: 16px;
  padding: 9px 15px;
  border-radius: 19px;
  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 27px;
}

.message-row img {
  width: 55px;
  height: 55px;
  border-radius: 45%;
  margin-right: 12px;
}

.message__author {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 7px;
  display: block;
}

.message__income {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 12px 17px;
  border-radius: 14px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 19px;
  font-weight: 600;
}

.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 14px;
  margin-right: 0px;
  margin-left: 9px;
}

.message-row--own .message__income {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 27px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  height: 43px;
  padding-left: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  font-size: 17px;
  transition: transform 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -14px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 16px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:active,
.reply__column button:focus {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 93vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
